
  <div class = 'span10'>
  <%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, maxlength: "30" , class:"new_post_input" %>  <span class='maxsymbols' style='display:none;'>*max symbols 30</span>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body ,style:"height:300px;" %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :data %>

  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-small"%>
    <%= link_to 'Back', posts_path ,class:"btn btn-small"%>
  </div>

<% end %>
    <button onclick="test('<%= :post %>')">test</button>
    </div>
