<div class="offset1">

</div>

<% @posts.each do |post| %>

    <div class='span8'>
      <h4><%= post.title %></h4>

      <p><span class='bold'>Posted :</span><%= post.data.day %></p>

      <p><%= post.body %></p>

      <p> <%= link_to 'Show', post, class: "btn btn-small" %>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-small" %>
        <%= link_to 'Destroy', post, class: "btn btn-small", method: :delete, data: {confirm: 'Are you sure?'} %>
      </p>
    </div>
<% end %>