<div class="offset1">

</div>
<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>

    <div class='span8 post_body'>
      <h4><%= post.title %></h4>

      <p><span class='bold'>Posted :</span><%= post.data %></p>

      <p><%= post.body %></p>

      <p> <%= link_to 'Show', post, class: "btn btn-small" %>
        <%- if !current_user.nil? %>
            <%- if current_user.id == post.user_id %>
                <%= link_to 'Edit', edit_post_path(post), class: "btn btn-small" %>
                <%= link_to 'Destroy', post, class: "btn btn-small", method: :delete, data: {confirm: 'Are you sure?'} %>
            <%- end %>
        <%- end%>
      </p>
    </div>

<% end %>
