<div class="offset1">

</div>


<% @post.each do |post| %>

    <div class='span8 post_body post_with<%= post.id%>delete'>
      <h4><%= post.title %></h4>
      <p>Tags</p>
      <h1><% post.tags.each do |fa| %></h1>
            <% if !fa.name.blank? %>
                <span class='tag_box'>
                  <%=  link_to  fa.name  %>
                </span>
            <% end %>
        <% end %>
        <p><%= post.body %></p>
        <p>
          <%= link_to 'Show', post, class: "btn btn-small" %>
          <%- if !current_user.nil? %>
              <%- if current_user.id == post.user_id %>
                  <%= link_to 'Edit', edit_post_path(post), class: "btn btn-small" %>
                  <%= link_to 'Destroy', post, class: "btn btn-small remote-delete", data: {confirm: 'Are you sure?'},name:post.id %>
              <%- end %>
          <%- end%>
        </p>
        </div>

<% end %>
