<!DOCTYPE html>
<html>
<head>
  <title>Blog15min</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row-fluid">
  <div class="well">
    <h1 class="post_header"><span class='welc'>Welcome <%= %>on my first blog</span></h1>
  </div>

  <%- if current_user.nil? %>
      <%= link_to('Sign in', new_user_session_path) %>
      <span>or</span>
      <%= link_to('Sign up', new_user_registration_path) %>
  <% else %>
      <%= link_to("Sign out", destroy_user_session_path, :method => 'delete') %>
  <%- end %>

  <div class='span3 pull-right'>
    <%= image_tag "1.jpeg"%>
  </div>
  <div style="width: 80%">
  <%= yield %>
       </div>
</div>
</body>
</html>
